@charset "UTF-8";


/*
@font-face {
	font-family: 'NanumGothic';
	/ *font-weight: 300;* /
	font-style: normal;
	src: url('../font/NanumGothic-Regular.eot');
	src: url('../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumGothic-Regular.woff') format('woff'),
		url('../font/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-weight: bold;
	font-style: normal;
	src: url('../font/NanumGothic-Bold.eot');
	src: url('../font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumGothic-Bold.woff') format('woff'),
		url('../font/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-weight: 900;
	font-style: normal;
	src: url('../font/NanumGothic-ExtraBold.eot');
	src: url('../font/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumGothic-ExtraBold.woff') format('woff'),
		url('../font/NanumGothic-ExtraBold.ttf') format('truetype');
}



@font-face {
	font-family: 'NanumSquare';
	/ *font-weight: 300;* /
	font-style: normal;
	src: url('../font/NanumSquareL.eot');
	src: url('../font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareL.woff') format('woff'),
		url('../font/NanumSquareL.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	font-style: normal;
	src: url('../font/NanumSquareR.eot');
	src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareR.woff') format('woff'),
		url('../font/NanumSquareR.ttf') format('truetype')
}

@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	font-style: normal;
	src: url('../font/NanumSquareB.eot');
	src: url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareB.woff') format('woff'),
		url('../font/NanumSquareB.ttf') format('truetype');
}
*/

body	{ min-width: 320px; /*padding: 0; margin: 0;*/ font-family: 'NanumSquare', 'NanumGothic', "Malgun Gothic", "맑은 고딕", "돋움", Dotum, "굴림", Gulim, Helvetica, AppleGothic, Sans-serif; color: #333; font-size: 13px; line-height: 1.7em; word-spacing: 0.1em; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video	{ word-wrap: break-word; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section	{ display: block; }


a, a:link	{ text-decoration: none; color: #333; }
a:visited	{ color: #555; }
a:focus	{ color: #000; /*outline: 2px solid #f00;*/ }
a:hover, a:active	{ color: #e4353b; /*outline: none;*/ }

*:before, *:after	{ box-sizing: border-box; }


img		{ max-width: 100%; border: 0 none; }

form	{ padding: 0; margin: 0; }
form label, form input, form select, form span, form img, form em, form a	{ display: inline-block; margin-top: 0; vertical-align: middle; }

form fieldset	{ clear: both; min-width: 0; padding: 0; margin: 0; border: 0 none; }
form fieldset:after	{ display: block; clear: both; content: ""; }
form fieldset legend	{ /*visibility: hidden;*/ display: block; width: 0; height: 0; padding: 0; margin: 0; overflow: hidden; font-size: 0; position: absolute; }


/*label, input, select, textarea, button	{ margin-left: 5px; margin-right: 5px; }*/
label	{ cursor: pointer; }
button, input, textarea, select, label	{ margin: 0; font-size: 100%; vertical-align: middle; }
label:focus, select:focus, button:focus, input:focus, textarea:focus, .button:focus	{ /*outline: 2px solid #f00;*/ }
input[type="radio"], input[type="checkbox"]	{ margin-right: 0.5em; }
/*
textarea, select, input[type="file"], input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="email"], input[type="number"], input[type="date"]	{ width: auto; height: 34px; line-height: 1.42857143; padding: 6px 12px; margin: 0; border: 1px solid #aaa; color: #555; background-color: #fff; box-sizing: border-box; box-shadow: inset 0 3px 3px rgba(0, 0, 0, .075), inset 0 -3px 3px rgba(0, 0, 0, .075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
*/
textarea, select, input[type="file"], input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="email"], input[type="number"], input[type="date"]	{ width: auto; height: 28px; padding: 0 12px; margin: 0; border: 1px solid #d7d8da; color: #333; box-sizing: border-box; }
select	{ padding-left: 3px; padding-right: 25px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../image/arrow.png) no-repeat right center; cursor: pointer; }
select[size]	{ padding-right: 3px; background: #fff none; }
select::-ms-expand	{ display: none; }
textarea	{ height: auto; }
input[type="button"], input[type="reset"], input[type="submit"], button	{ display: inline-block; width: auto; height: 28px; line-height: 1em; padding: 4px 16px; margin: 0; border: 1px solid #575757; background: #575757; font-weight: bold; font-size: 0.9em; color: #fff; cursor: pointer; }
input[type="search"]	{ ime-mode: active; }

input[type="text"][readonly]	{ background-color: #f0f0f0; }
select[disabled],
input[type="text"][disabled]	{ background-color: #eee; }

input.date, input.time, input.datetime	{ text-align: left; }
@media all and ( max-width: 669px )
{
	input.datetimepicker	{ width: 135px; padding-left: 0; padding-right: 0; }
}

input + label	{ margin-right: 10px; }
.label + input[type],
label + input[type],
label + select,
label + textarea	{ margin-left: 10px; }

input[readonly="readonly"],
select[readonly="readonly"],
textare[readonly="readonly"]	{ background-color: #f0f0f0; }


.contents table	{ table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
.contents table caption	{ width: 0; height: 0; line-height: 0; /*visibility: hidden;*/ overflow: hidden; font-size: 0; }
/*
.contents table caption { display: none; }
*/

.contents form table tbody tr th,
.contents form table tbody tr td	{ line-height: 20px; padding: 7px; }
.contents form table tbody tr th	{ background-color: #f8f8f8; color: #000; }
.contents form table tbody tr td	{ border-left: 1px solid #d0d0d0; }
.contents form table tbody tr > *:last-child	{ border-right: 1px solid #d0d0d0; }
.contents form table tbody tr td.empty	{ border-right: 0 none !important; border-left: 0 none !important; }
.contents form .description	{ line-height: 1.9; }

div.skip, p.skip, a.skip, *.skip	{ display: block; width: 0; height: 0; line-height: 0; /*visibility: hidden;*/ overflow: hidden; font-size: 0; }







/* 숨김, 표시 처리 */
/*
.hide, .hidden	{ display: block; width: 0px; height: 0px; overflow: hidden; }
*/
.hide, .hidden	{ position: absolute !important; /*visibility: hidden;*/ width: 0 !important; height: 0 !important; line-height: 0 !important; overflow: hidden !important; font-size: 0 !important; }
.show, .block	{ /*display: block;*/ }

/*	문자 정렬	*/
.txtleft	{ text-align: left !important; }
.txtcenter	{ text-align: center !important; }
.txtright	{ text-align: right !important; }
.txtjustify, .txtdefault	{ text-align: justify !important; }

/*	문자 모양	*/
.txtdefault	{ font-style: normal; font-weight: normal; }
.txtbold, .bold, .strong	{ font-weight: bold; }
.txtem, .em, .txti, .i ,txtitalic, italic	{ font-style: italic; }

/*	줄바꿈 처리	*/
.txtwrap	{ white-space: normal; }
.txtnowrap	{ white-space: nowrap; }


/*	정렬 처리	*/
.float_box	{ /*zoom: 1;*/ }
.float_box:after	{ display: block; clear: both; content: " "; }
.float_left	{ float: left; }
.float_right	{ float: right; }
.float_none	{ float: none; }
.clear_left	{ clear: left; }
.clear_both	{ clear: both; }
.clear_right	{ clear: right; }
.clear_none	{ clear: none; }

.float_box .float_left,
.float_box .float_right	{ margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }

/*	font size	*/
.fs8p	{ font-size: 8pt !important; }
.fs9p	{ font-size: 9pt !important; }
.fs10p	{ font-size: 10pt !important; }
.fs11p	{ font-size: 11pt !important; }
.fs12p	{ font-size: 12pt !important; }
.fs13p	{ font-size: 13pt !important; }
.fs14p	{ font-size: 14pt !important; }
.fs15p	{ font-size: 15pt !important; }

/* color */
.color-aliceblue { color: #f0f8ff !important; }
.color-antiquewhite { color: #faebd7 !important; }
.color-aqua { color: #00ffff !important; }
.color-aquamarine { color: #7fffd4 !important; }
.color-azure { color: #f0ffff !important; }
.color-beige { color: #f5f5dc !important; }
.color-bisque { color: #ffe4c4 !important; }
.color-black { color: #000000 !important; }
.color-blanchedalmond { color: #ffebcd !important; }
.color-blue { color: #0000ff !important; }
.color-blueviolet { color: #8a2be2 !important; }
.color-brown { color: #a52a2a !important; }
.color-burlywood { color: #deb887 !important; }
.color-cadetblue { color: #5f9ea0 !important; }
.color-chartreuse { color: #7fff00 !important; }
.color-chocolate { color: #d2691e !important; }
.color-coral { color: #ff7f50 !important; }
.color-cornflowerblue { color: #6495ed !important; }
.color-cornsilk { color: #fff8dc !important; }
.color-crimson { color: #dc143c !important; }
.color-cyan { color: #00ffff !important; }
.color-darkblue { color: #00008b !important; }
.color-darkcyan { color: #008b8b !important; }
.color-darkgoldenrod { color: #b8860b !important; }
.color-darkgray { color: #a9a9a9 !important; }
.color-darkgreen { color: #006400 !important; }
.color-darkkhaki { color: #bdb76b !important; }
.color-darkmagenta { color: #8b008b !important; }
.color-darkolivegreen { color: #556b2f !important; }
.color-darkorange { color: #ff8c00 !important; }
.color-darkorchid { color: #9932cc !important; }
.color-darkred { color: #8b0000 !important; }
.color-darksalmon { color: #e9967a !important; }
.color-darkseagreen { color: #8fbc8f !important; }
.color-darkslateblue { color: #483d8b !important; }
.color-darkslategray { color: #2f4f4f !important; }
.color-darkturquoise { color: #00ced1 !important; }
.color-darkviolet { color: #9400d3 !important; }
.color-deeppink { color: #ff1493 !important; }
.color-deepskyblue { color: #00bfff !important; }
.color-dimgray { color: #696969 !important; }
.color-dodgerblue { color: #1e90ff !important; }
.color-firebrick { color: #b22222 !important; }
.color-floralwhite { color: #fffaf0 !important; }
.color-forestgreen { color: #228b22 !important; }
.color-fuchsia { color: #ff00ff !important; }
.color-gainsboro { color: #dcdcdc !important; }
.color-ghostwhite { color: #f8f8ff !important; }
.color-gold { color: #ffd700 !important; }
.color-goldenrod { color: #daa520 !important; }
.color-gray { color: #808080 !important; }
.color-green { color: #008000 !important; }
.color-greenyellow { color: #adff2f !important; }
.color-honeydew { color: #f0fff0 !important; }
.color-hotpink { color: #ff69b4 !important; }
.color-indianred { color: #cd5c5c !important; }
.color-indigo { color: #4b0082 !important; }
.color-ivory { color: #fffff0 !important; }
.color-khaki { color: #f0e68c !important; }
.color-lavender { color: #e6e6fa !important; }
.color-lavenderblush { color: #fff0f5 !important; }
.color-lawngreen { color: #7cfc00 !important; }
.color-lemonchiffon { color: #fffacd !important; }
.color-lightblue { color: #add8e6 !important; }
.color-lightcoral { color: #f08080 !important; }
.color-lightcyan { color: #e0ffff !important; }
.color-lightgoldenrodyellow { color: #fafad2 !important; }
.color-lightgreen { color: #90ee90 !important; }
.color-lightgrey { color: #d3d3d3 !important; }
.color-lightpink { color: #ffb6c1 !important; }
.color-lightsalmon { color: #ffa07a !important; }
.color-lightseagreen { color: #20b2ad !important; }
.color-lightskyblue { color: #87cefa !important; }
.color-lightslategray { color: #778899 !important; }
.color-lightsteelblue { color: #b0c4da !important; }
.color-lightyellow { color: #ffffe0 !important; }
.color-lime { color: #00ff00 !important; }
.color-limegreen { color: #32cd32 !important; }
.color-linen { color: #faf0e6 !important; }
.color-magenta { color: #ff00ff !important; }
.color-maroon { color: #800000 !important; }
.color-mediumaquamarine { color: #66cdaa !important; }
.color-mediumblue { color: #0000cd !important; }
.color-mediumorchid { color: #ba55d3 !important; }
.color-mediumpurple { color: #9370db !important; }
.color-mediumseagreen { color: #3cb371 !important; }
.color-mediumslateblue { color: #7b68ee !important; }
.color-mediumspringgreen { color: #00fa9a !important; }
.color-mediumturquoise { color: #48d1cc !important; }
.color-mediumvioletred { color: #c71585 !important; }
.color-midnightblue { color: #191970 !important; }
.color-mintcream { color: #f5fffa !important; }
.color-mistyrose { color: #ffe4e1 !important; }
.color-moccasin { color: #ffe4b5 !important; }
.color-navajowhite { color: #ffdead !important; }
.color-navy { color: #000080 !important; }
.color-oldlace { color: #fdf5e6 !important; }
.color-olive { color: #808000 !important; }
.color-olivedrab { color: #6b8e23 !important; }
.color-orange { color: #ffa500 !important; }
.color-orangered { color: #ff4500 !important; }
.color-orchid { color: #da70d6 !important; }
.color-palegoldenrod { color: #eee8aa !important; }
.color-palegreen { color: #98fb98 !important; }
.color-paleturquoise { color: #afeeee !important; }
.color-palevioletred { color: #db7093 !important; }
.color-papayawhip { color: #ffefd5 !important; }
.color-peachpuff { color: #ffdab9 !important; }
.color-peru { color: #cd853f !important; }
.color-pink { color: #ffc0cb !important; }
.color-plum { color: #dda0dd !important; }
.color-powderblue { color: #b0e0e6 !important; }
.color-purple { color: #800080 !important; }
.color-red { color: #ff0000 !important; }
.color-rosybrown { color: #bc8f8f !important; }
.color-royalblue { color: #4169e1 !important; }
.color-saddlebrown { color: #8b4513 !important; }
.color-salmon { color: #fa8072 !important; }
.color-sandybrown { color: #f4a460 !important; }
.color-seagreen { color: #2e8b57 !important; }
.color-seashell { color: #fff5ee !important; }
.color-sienna { color: #a0522d !important; }
.color-silver { color: #c0c0c0 !important; }
.color-skyblue { color: #87ceeb !important; }
.color-slateblue { color: #6a5acd !important; }
.color-slategray { color: #708090 !important; }
.color-snow { color: #fffafa !important; }
.color-springgreen { color: #00ff7f !important; }
.color-steelblue { color: #4682b4 !important; }
.color-tan { color: #d2b48c !important; }
.color-teal { color: #008080 !important; }
.color-thistle { color: #d8bfd8 !important; }
.color-tomato { color: #ff6347 !important; }
.color-turquoise { color: #40e0d0 !important; }
.color-violet { color: #ee82ee !important; }
.color-wheat { color: #f5deb3 !important; }
.color-white { color: #ffffff !important; }
.color-whitesmoke { color: #f5f5f5 !important; }
.color-yellow { color: #ffff00 !important; }
.color-yellowgreen { color: #9acd32 !important; }



/* fieldset	*/
fieldset	{ padding: 10px; margin: 0; border: 1px solid #888; }
.fieldsethide	{ border: none; padding: 0; margin: 0; }
.fieldsethide legend	{ /*visibility: hidden;*/ display: block; width: 0; height: 0; overflow: hidden; font-size: 0; }
.xIEDown .fieldsethide legend	{ display: none; }

.margin0	{ margin: 0; }
.padding0	{ padding: 0; }
.list_reset, .list_reset li, .list_reset dt, .list_reset dd	{ margin: 0; padding: 0; list-style: none; }
.list_left	{ display: inline-block; }
.list_left li, .list_left dt, .list_left dd	{ float: left; padding: 0 1em 0 0; }


/*	크기 지정	*/
.w100p	{ width: 100%; }
.w95p	{ width: 95%; }
.w90p	{ width: 90%; }
.w85p	{ width: 85%; }
.w80p	{ width: 80%; }
.w75p	{ width: 75%; }
.w70p	{ width: 70%; }
.w65p	{ width: 65%; }
.w60p	{ width: 60%; }
.w55p	{ width: 55%; }
.w50p	{ width: 50%; }
.w45p	{ width: 45%; }
.w40p	{ width: 40%; }
.w35p	{ width: 35%; }
.w33p	{ width: 33%; }
.w30p	{ width: 30%; }
.w25p	{ width: 25%; }
.w20p	{ width: 20%; }
.w19p	{ width: 19%; }
.w18p	{ width: 18%; }
.w17p	{ width: 17%; }
.w16p	{ width: 16%; }
.w15p	{ width: 15%; }
.w14p	{ width: 14%; }
.w13p	{ width: 13%; }
.w12p	{ width: 12%; }
.w11p	{ width: 11%; }
.w10p	{ width: 10%; }
.w9p	{ width: 9%; }
.w8p	{ width: 8%; }
.w7p	{ width: 7%; }
.w6p	{ width: 6%; }
.w5p	{ width: 5%; }
.w4p	{ width: 4%; }
.w3p	{ width: 3%; }
.w2p	{ width: 2%; }
.w1p	{ width: 1%; }
.w0p	{ width: 0%; }

.w700	{ width: 700px; }
.w650	{ width: 650px; }
.w600	{ width: 600px; }
.w550	{ width: 550px; }
.w500	{ width: 500px; }
.w450	{ width: 450px; }
.w400	{ width: 400px; }
.w390	{ width: 390px; }
.w380	{ width: 380px; }
.w370	{ width: 370px; }
.w360	{ width: 360px; }
.w350	{ width: 350px; }
.w340	{ width: 340px; }
.w330	{ width: 330px; }
.w320	{ width: 320px; }
.w310	{ width: 310px; }
.w300	{ width: 300px; }
.w290	{ width: 290px; }
.w280	{ width: 280px; }
.w270	{ width: 270px; }
.w260	{ width: 260px; }
.w250	{ width: 250px; }
.w240	{ width: 240px; }
.w230	{ width: 230px; }
.w220	{ width: 220px; }
.w210	{ width: 210px; }
.w200	{ width: 200px; }
.w190	{ width: 190px; }
.w180	{ width: 180px; }
.w170	{ width: 170px; }
.w160	{ width: 160px; }
.w150	{ width: 150px; }
.w140	{ width: 140px; }
.w130	{ width: 130px; }
.w120	{ width: 120px; }
.w110	{ width: 110px; }
.w100	{ width: 100px; }
.w90	{ width: 90px; }
.w80	{ width: 80px; }
.w70	{ width: 70px; }
.w60	{ width: 60px; }
.w50	{ width: 50px; }
.w40	{ width: 40px; }
.w30	{ width: 30px; }
.w20	{ width: 20px; }
.w10	{ width: 10px; }
.w0	{ width: 0px; }

/*	공백 지정	*/
.mt0, .mt0e	{ margin-top: 0 !important; }
.mt1e	{ margin-top: 1em !important; }
.mt2e	{ margin-top: 2em !important; }
.mt3e	{ margin-top: 3em !important; }
.mt5e	{ margin-top: 5em !important; }
.mt10px	{ margin-top: 10px !important; }
.mt20px	{ margin-top: 20px !important; }
.mt30px	{ margin-top: 30px !important; }
.mb0, .mb0e	{ margin-bottom: 0 !important; }
.mb1e	{ margin-bottom: 1em !important; }
.mb2e	{ margin-bottom: 2em !important; }
.mb3e	{ margin-bottom: 3em !important; }
.mb10px	{ margin-bottom: 10px !important; }
.mb20px	{ margin-bottom: 20px !important; }
.mb30px	{ margin-bottom: 30px !important; }

.ml700	{ margin-left: 700px !important; }
.ml650	{ margin-left: 650px !important; }
.ml600	{ margin-left: 600px !important; }
.ml550	{ margin-left: 550px !important; }
.ml500	{ margin-left: 500px !important; }
.ml450	{ margin-left: 450px !important; }
.ml400	{ margin-left: 400px !important; }
.ml390	{ margin-left: 390px !important; }
.ml380	{ margin-left: 380px !important; }
.ml370	{ margin-left: 370px !important; }
.ml360	{ margin-left: 360px !important; }
.ml350	{ margin-left: 350px !important; }
.ml340	{ margin-left: 340px !important; }
.ml330	{ margin-left: 330px !important; }
.ml320	{ margin-left: 320px !important; }
.ml310	{ margin-left: 310px !important; }
.ml300	{ margin-left: 300px !important; }
.ml290	{ margin-left: 290px !important; }
.ml280	{ margin-left: 280px !important; }
.ml270	{ margin-left: 270px !important; }
.ml260	{ margin-left: 260px !important; }
.ml250	{ margin-left: 250px !important; }
.ml240	{ margin-left: 240px !important; }
.ml230	{ margin-left: 230px !important; }
.ml220	{ margin-left: 220px !important; }
.ml210	{ margin-left: 210px !important; }
.ml200	{ margin-left: 200px !important; }
.ml190	{ margin-left: 190px !important; }
.ml180	{ margin-left: 180px !important; }
.ml170	{ margin-left: 170px !important; }
.ml160	{ margin-left: 160px !important; }
.ml150	{ margin-left: 150px !important; }
.ml140	{ margin-left: 140px !important; }
.ml130	{ margin-left: 130px !important; }
.ml120	{ margin-left: 120px !important; }
.ml110	{ margin-left: 110px !important; }
.ml100	{ margin-left: 100px !important; }
.ml90	{ margin-left: 90px !important; }
.ml80	{ margin-left: 80px !important; }
.ml70	{ margin-left: 70px !important; }
.ml60	{ margin-left: 60px !important; }
.ml50	{ margin-left: 50px !important; }
.ml40	{ margin-left: 40px !important; }
.ml30	{ margin-left: 30px !important; }
.ml20	{ margin-left: 20px !important; }
.ml10	{ margin-left: 10px !important; }
.ml5   { margin-left: 5px !important; }
.ml0	{ margin-left: 0px !important; }

.mr700	{ margin-right: 700px !important; }
.mr650	{ margin-right: 650px !important; }
.mr600	{ margin-right: 600px !important; }
.mr550	{ margin-right: 550px !important; }
.mr500	{ margin-right: 500px !important; }
.mr450	{ margin-right: 450px !important; }
.mr400	{ margin-right: 400px !important; }
.mr390	{ margin-right: 390px !important; }
.mr380	{ margin-right: 380px !important; }
.mr370	{ margin-right: 370px !important; }
.mr360	{ margin-right: 360px !important; }
.mr350	{ margin-right: 350px !important; }
.mr340	{ margin-right: 340px !important; }
.mr330	{ margin-right: 330px !important; }
.mr320	{ margin-right: 320px !important; }
.mr310	{ margin-right: 310px !important; }
.mr300	{ margin-right: 300px !important; }
.mr290	{ margin-right: 290px !important; }
.mr280	{ margin-right: 280px !important; }
.mr270	{ margin-right: 270px !important; }
.mr260	{ margin-right: 260px !important; }
.mr250	{ margin-right: 250px !important; }
.mr240	{ margin-right: 240px !important; }
.mr230	{ margin-right: 230px !important; }
.mr220	{ margin-right: 220px !important; }
.mr210	{ margin-right: 210px !important; }
.mr200	{ margin-right: 200px !important; }
.mr190	{ margin-right: 190px !important; }
.mr180	{ margin-right: 180px !important; }
.mr170	{ margin-right: 170px !important; }
.mr160	{ margin-right: 160px !important; }
.mr150	{ margin-right: 150px !important; }
.mr140	{ margin-right: 140px !important; }
.mr130	{ margin-right: 130px !important; }
.mr120	{ margin-right: 120px !important; }
.mr110	{ margin-right: 110px !important; }
.mr100	{ margin-right: 100px !important; }
.mr90	{ margin-right: 90px !important; }
.mr80	{ margin-right: 80px !important; }
.mr70	{ margin-right: 70px !important; }
.mr60	{ margin-right: 60px !important; }
.mr50	{ margin-right: 50px !important; }
.mr40	{ margin-right: 40px !important; }
.mr30	{ margin-right: 30px !important; }
.mr20	{ margin-right: 20px !important; }
.mr10	{ margin-right: 10px !important; }
.mr5	{ margin-right: 5px !important; }
.mr0	{ margin-right: 0px !important; }


/*	여백	*/
.pt0, .pt0e	{ padding-top: 0 !important; }
.pt1e	{ padding-top: 1em !important; }
.pt2e	{ padding-top: 2em !important; }
.pt3e	{ padding-top: 3em !important; }
.pt5e	{ padding-top: 5em !important; }
.pt10px	{padding-top: 10px !important; }
.pt20px	{padding-top: 20px !important; }
.pt30px	{padding-top: 30px !important; }
.pb0, .pb0e	{ padding-bottom: 0 !important; }
.pb1e	{ padding-bottom: 1em !important; }
.pb2e	{ padding-bottom: 2em !important; }
.pb3e	{ padding-bottom: 3em !important; }
.pb10px	{padding-bottom: 10px !important; }
.pb20px	{padding-bottom: 20px !important; }
.pb30px	{padding-bottom: 30px !important; }

.pl700	{ padding-left: 700px; }
.pl650	{ padding-left: 650px; }
.pl600	{ padding-left: 600px; }
.pl550	{ padding-left: 550px; }
.pl500	{ padding-left: 500px; }
.pl450	{ padding-left: 450px; }
.pl400	{ padding-left: 400px; }
.pl390	{ padding-left: 390px; }
.pl380	{ padding-left: 380px; }
.pl370	{ padding-left: 370px; }
.pl360	{ padding-left: 360px; }
.pl350	{ padding-left: 350px; }
.pl340	{ padding-left: 340px; }
.pl330	{ padding-left: 330px; }
.pl320	{ padding-left: 320px; }
.pl310	{ padding-left: 310px; }
.pl300	{ padding-left: 300px; }
.pl290	{ padding-left: 290px; }
.pl280	{ padding-left: 280px; }
.pl270	{ padding-left: 270px; }
.pl260	{ padding-left: 260px; }
.pl250	{ padding-left: 250px; }
.pl240	{ padding-left: 240px; }
.pl230	{ padding-left: 230px; }
.pl220	{ padding-left: 220px; }
.pl210	{ padding-left: 210px; }
.pl200	{ padding-left: 200px; }
.pl190	{ padding-left: 190px; }
.pl180	{ padding-left: 180px; }
.pl170	{ padding-left: 170px; }
.pl160	{ padding-left: 160px; }
.pl150	{ padding-left: 150px; }
.pl140	{ padding-left: 140px; }
.pl130	{ padding-left: 130px; }
.pl120	{ padding-left: 120px; }
.pl110	{ padding-left: 110px; }
.pl100	{ padding-left: 100px; }
.pl90	{ padding-left: 90px; }
.pl80	{ padding-left: 80px; }
.pl70	{ padding-left: 70px; }
.pl60	{ padding-left: 60px; }
.pl50	{ padding-left: 50px; }
.pl40	{ padding-left: 40px; }
.pl30	{ padding-left: 30px; }
.pl20	{ padding-left: 20px; }
.pl10	{ padding-left: 10px; }
.pl5   { padding-left: 5px; }
.pl0	{ padding-left: 0px; }

.pr700	{ padding-right: 700px; }
.pr650	{ padding-right: 650px; }
.pr600	{ padding-right: 600px; }
.pr550	{ padding-right: 550px; }
.pr500	{ padding-right: 500px; }
.pr450	{ padding-right: 450px; }
.pr400	{ padding-right: 400px; }
.pr390	{ padding-right: 390px; }
.pr380	{ padding-right: 380px; }
.pr370	{ padding-right: 370px; }
.pr360	{ padding-right: 360px; }
.pr350	{ padding-right: 350px; }
.pr340	{ padding-right: 340px; }
.pr330	{ padding-right: 330px; }
.pr320	{ padding-right: 320px; }
.pr310	{ padding-right: 310px; }
.pr300	{ padding-right: 300px; }
.pr290	{ padding-right: 290px; }
.pr280	{ padding-right: 280px; }
.pr270	{ padding-right: 270px; }
.pr260	{ padding-right: 260px; }
.pr250	{ padding-right: 250px; }
.pr240	{ padding-right: 240px; }
.pr230	{ padding-right: 230px; }
.pr220	{ padding-right: 220px; }
.pr210	{ padding-right: 210px; }
.pr200	{ padding-right: 200px; }
.pr190	{ padding-right: 190px; }
.pr180	{ padding-right: 180px; }
.pr170	{ padding-right: 170px; }
.pr160	{ padding-right: 160px; }
.pr150	{ padding-right: 150px; }
.pr140	{ padding-right: 140px; }
.pr130	{ padding-right: 130px; }
.pr120	{ padding-right: 120px; }
.pr110	{ padding-right: 110px; }
.pr100	{ padding-right: 100px; }
.pr90	{ padding-right: 90px; }
.pr80	{ padding-right: 80px; }
.pr70	{ padding-right: 70px; }
.pr60	{ padding-right: 60px; }
.pr50	{ padding-right: 50px; }
.pr40	{ padding-right: 40px; }
.pr30	{ padding-right: 30px; }
.pr20	{ padding-right: 20px; }
.pr10	{ padding-right: 10px; }
.pr5	{ padding-right: 5px; }
.pr0	{ padding-right: 0px; }

.pt1e { padding-top: 1em; }

/*	최소높이	*/
.minheight	{ min-height: 20em; line-height: 20em; }
.minheight2	{ min-height: 20em; padding: 10em 0; }

/*	줄간격	*/
.lineheight1	{ line-height: 1em; }
.lineheight11	{ line-height: 1.1em; }
.lineheight12	{ line-height: 1.2em; }
.lineheight13	{ line-height: 1.3em; }
.lineheight14	{ line-height: 1.4em; }
.lineheight15	{ line-height: 1.5em; }
.lineheight16	{ line-height: 1.6em; }
.lineheight17	{ line-height: 1.7em; }
.lineheight18	{ line-height: 1.8em; }
.lineheight19	{ line-height: 1.9em; }
.lineheight20	{ line-height: 2em; }
.lineheight30	{ line-height: 3em; }
.lineheight40	{ line-height: 4em; }
.lineheight50	{ line-height: 5em; }
.lineheight60	{ line-height: 6em; }
.lineheight70	{ line-height: 7em; }
.lineheight80	{ line-height: 8em; }
.lineheight90	{ line-height: 9em; }
.lineheight10	{ line-height: 10em; }



.box_flat	{ border: 1px solid #ccc; background-color: #fafafa; }



/* 기본 버튼 처리 */
/*
.button	{ display: inline-block; cursor: pointer; width: auto; line-height: 1.42857143; padding: 5px 12px 6px; margin: 0 5px; border: 1px solid #707070; border-radius: 5px; font-size: 15px; text-align: center; white-space: nowrap; vertical-align: middle; color: #333; font-weight: bold; background-color: #f8f7f5; transition: all .25s ease; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075); }
input.button, button.button	{ height: 36px; padding-top: 4px; font-size: 16px; }

.button.small	{ padding: 2px 6px 3px; font-size: 13px; }
.button.wide	{ min-width: 200px; }
input.button.small, button.button.small	{ height: 26px; padding-top: 1px; font-size: 14px; }

.button.large	{ padding: 4px 40px 6px; font-size: 20px; }
input.button.large, button.button.large	{ height: 41px; padding-top: 2px; font-size: 22px; }

.button:visited	{ color: #333; }
.button:focus, .button:hover, .button:active	{ background-color: #333 !important; color: #fff !important; }

input.button, button.button	{ height: 36px; padding-top: 4px; font-size: 16px; }
*/

.button	{ display: inline-block; cursor: pointer; width: auto; min-width: 50px; padding: 0 10px; margin: 0 5px; border: 1px solid #989898; background-color: #fff; color: #3b3b3b; font-weight: normal; font-size: 14px; text-align: center; white-space: nowrap; vertical-align: middle; transition: all .25s ease; border-radius: 3px; }
a.button	{ line-height: 35px; }
input.button, button.button	{ height: 35px; }

.button:link,
.button:visited	{ color: #3b3b3b; }
.button:focus, .button:hover, .button:active	{ background-color: #333 !important; color: #fff !important; }


.button.small	{ min-width: 0; padding: 0 6px; font-size: 13px; }
a.button.small	{ line-height: 26px; }
input.button.small, button.button.small	{ height: 28px; }

.button.large	{ min-width: 110px; padding: 0 10px; border: 0 none; border-radius: 0; font-size: 15px; }
a.button.large	{ line-height: 45px; }
input.button.large, button.button.large	{ min-width: 130px; height: 45px; }


.order .button	{ margin-left: 10px; margin-right: 10px; }

* > .button:first-child	{ margin-left: 0; }
* > .button:last-child	{ margin-right: 0; }


.button.action_write,
.button.action_reply	{ border-color: #104790; background-color: #104790; color: #fff; }
.button.action_edit		{ border-color: #167d63; background-color: #2fac8d; color: #fff; }
.button.action_check,
.button.action_delete	{ border-color: #075080; background-color: #237ab2; color: #fff; }
.button.action_reset,
.button.action_cancel	{ background-color: #666; color: #fff; }

.button.action_move	{ border-color: #000; background-color: #666; color: #fff; }

@media all and ( max-width: 669px )
{
	.button	{ width: auto !important; max-width: 100% !important; white-space: normal !important; }
	td .button	{ margin-left: 0 !important; margin-right: 0 !important; font-size: 13px; }
}

/*
action_list
	action_write
	action_edit
	action_reply
	action_delete
action_search
	action_reset
	action_cancel
action_load
action_select
action_close
action_check
action_preview
action_download
action_login
action_logout
action_move
*/




.ui-datepicker	{ z-index: 99999 !important; }
.ui-datepicker-title:after	{ display: block; clear: both; content: ""; }
.ui-datepicker-year	{ float: left; }
.ui-datepicker-month	{ float: right; }
img.ui-datepicker-trigger	{ margin-left: 5px; margin-right: 5px; vertical-align: middle; cursor: pointer; }


.ui-dialog	{ max-width: 95% !important; }












.file_ext	{ max-width: 20px; max-height: 20px; }



.order	{ margin: 30px 0; text-align: center; }
.order_left	{ margin: 2px 0; text-align: left; }
.order_right	{ margin: 2px 0; text-align: right; }


.kntool_popup_layerpopup	{}
.kntool_popup_layerpopup .images	{ display: block; }
.kntool_popup_layerpopup a	{ display: block; cursor: pointer; }
.kntool_popup_layerpopup img	{ display: block; border: 0 none; }



